<footer class="bg-zinc-800 text-white flex justify-center gap-8 p-5">
    <div class="">
        <p>
            Cristian Rafael, Zamora
        </p>

        <p>Desarrollador FullStack</p>
    </div>

    <div class="">
        <span>
            Redes Sociales
        </span>

        <ul>
            <li><a href="">Linkedin</a></li>
            <li><a href="">Github</a></li>
        </ul>
    </div>

</footer>