
<header class="container w-full fixed p-4 z-10">
    <nav class="w-11/12 m-auto flex justify-between items-center text-xl text-black px-3 font-semibold">
        <a href="https://www.facebook.com/" class="inline-block">
            <img class="rounded-full" src="/images/logo.png" width="55px" height="55px" alt="logo Cristian Zamora">
        </a>
        <ul class="flex gap-4">
            <li><a href="">Home</a></li>
            <li><a href="">Sobre Mi</a></li>
            <li><a href="">Contactame</a></li>
            <li><a class="p-2 px-3 border-2 border-solid border-[#2A42AD] rounded-lg" href="">Proyectos</a></li>
            <li><a id="buttonColor" class="p-2 px-3 bg-cyan-500/60  dark:bg-cyan-900 dark:text-white rounded-lg" href="">setColor</a></li>

        </ul>
    </nav>
</header>
