<style>
    main {
        background: radial-gradient(circle at center, rgba(145, 198, 255, 0.342), rgb(255, 255, 255));
        /* background: radial-gradient(circle at 15% center, rgba(20, 29, 195, 0.149), rgb(255, 255, 255),  rgba(145, 198, 255, 0.342)); */

    }

    span {
        font-family: system-ui, "Roboto" !important;
        font-weight: 700;
        /* text-shadow: 5px 5px 20px rgb(6 182 212 / 1), 5px 5px 20px rgb(6 182 212 / .3), -5px -5px 20px rgb(6 182 212 / .3), 5px 5px 5px rgba(12, 12, 12, 1) */

    }
</style>

<main class="">
    <div class="dark:bg-slate-600 main-container h-screen text-black text-center flex flex-col justify-center gap-3 relative overflow-hidden">

        <h1 class="text-4xl">
            Cristian Rafael, Zamora
            <span class="block my-2"> &lt;/FullStack Developer&gt; </span>
        </h1>

        <p class="text-xl">Desarollador que escribe código limpio, elegante y eficiente.</p>
        <p class="text-xl">Me gusta el backend y el frontend</p>

        <div class="">
            <a href="" class="px-4 py-2 rounded-md bg-slate-600 text-2xl font-bold">
                Proyectos
            </a>
        </div>

        <!-- <img class="filter grayscale opacity-0 absolute bottom-0 left-[10%] animate-[CustomBubble_6s_linear_infinite]"  src="/images/skills-icons/html.svg" >
        <img class="filter grayscale opacity-0 absolute bottom-0 left-[10%] animate-[CustomBubble_6s_linear_infinite]"  style="animation-delay: 3s" src="/images/skills-icons/html.svg" >

        <img class="filter grayscale opacity-0 absolute bottom-0 left-[20%] animate-[CustomBubble_8s_linear_infinite]"  src="/images/skills-icons/css.svg" >
        <img class="filter grayscale opacity-0 absolute bottom-0 left-[20%] animate-[CustomBubble_8s_linear_infinite]"  style="animation-delay: 4s" src="/images/skills-icons/css.svg" >

        <img class="filter grayscale opacity-0 absolute bottom-0 left-[30%] animate-[CustomBubble_7s_linear_infinite]"  src="/images/skills-icons/javascript.svg" >
        <img class="filter grayscale opacity-0 absolute bottom-0 left-[30%] animate-[CustomBubble_7s_linear_infinite]"  style="animation-delay: 4s" src="/images/skills-icons/javascript.svg" >

        <img class="filter grayscale opacity-0 absolute bottom-0 left-[30%] animate-[CustomBubble_10s_linear_infinite]"  src="/images/skills-icons/git.svg" >
        <img class="filter grayscale opacity-0 absolute bottom-0 left-[30%] animate-[CustomBubble_10s_linear_infinite]"  style="animation-delay: 5s" src="/images/skills-icons/git.svg" >

        <img class="filter grayscale opacity-0 absolute bottom-0 left-[90%] animate-[CustomBubble_7s_linear_infinite]"  src="/images/skills-icons/github.svg" >
        <img class="filter grayscale opacity-0 absolute bottom-0 left-[90%] animate-[CustomBubble_7s_linear_infinite]"  style="animation-delay: 3s" src="/images/skills-icons/github.svg" >

        <img class="filter grayscale opacity-0 absolute bottom-0 left-[40%] animate-[CustomBubble_6s_linear_infinite]"  src="/images/skills-icons/tailwind.svg" >
        <img class="filter grayscale opacity-0 absolute bottom-0 left-[40%] animate-[CustomBubble_6s_linear_infinite]"  style="animation-delay: 3s" src="/images/skills-icons/tailwind.svg" >

        <img class="filter grayscale opacity-0 absolute bottom-0 left-[50%] animate-[CustomBubble_7s_linear_infinite]"  src="/images/skills-icons/react.svg" >
        <img class="filter grayscale opacity-0 absolute bottom-0 left-[50%] animate-[CustomBubble_7s_linear_infinite]" style="animation-delay: 4s" src="/images/skills-icons/react.svg" >

        <img class="filter grayscale opacity-0 absolute bottom-0 left-[60%] animate-[CustomBubble_6s_linear_infinite]"  src="/images/skills-icons/nodejs.svg" >
        <img class="filter grayscale opacity-0 absolute bottom-0 left-[60%] animate-[CustomBubble_6s_linear_infinite]"  style="animation-delay: 3s" src="/images/skills-icons/nodejs.svg" >

        <img class="filter grayscale opacity-0 absolute bottom-0 left-[70%] animate-[CustomBubble_8s_linear_infinite]"  src="/images/skills-icons/mysql.svg" >
        <img class="filter grayscale opacity-0 absolute bottom-0 left-[70%] animate-[CustomBubble_8s_linear_infinite]"  style="animation-delay: 4s" src="/images/skills-icons/mysql.svg" >
        <img class="filter grayscale opacity-0 absolute bottom-0 left-[70%] animate-[CustomBubble_8s_linear_infinite]" style="animation-delay: 2s" src="/images/skills-icons/react.svg" >



        <div class=" opacity-0 absolute bottom-0 left-[80%] animate-[CustomBubble_7s_linear_infinite]">
            <img class="filter grayscale bg-slate-200 rounded-full p-2 "  src="/images/skills-icons/express.svg" >
        </div>

        <div class=" opacity-0 absolute bottom-0 left-[80%] animate-[CustomBubble_7s_linear_infinite] "  style="animation-delay: 4s">
            <img class="filter grayscale bg-slate-200 rounded-full p-2 "  src="/images/skills-icons/express.svg" >
        </div>

        <img class="filter grayscale opacity-0 absolute bottom-0 left-[97%] animate-[CustomBubble_9s_linear_infinite]"  src="/images/skills-icons/astro.svg" >
        <img class="filter grayscale opacity-0 absolute bottom-0 left-[97%] animate-[CustomBubble_9s_linear_infinite]"  style="animation-delay: 5s" src="/images/skills-icons/astro.svg" >


 -->

    </div>

</main>
